.profile {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px auto;
    width: 300px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .name {
    font-size: 1.25em;
    margin-bottom: 8px;
  }

  .email {
    font-size: .75em;
    margin-bottom: 8px;
  }
  
  
  .list {
    list-style-type: square;
    padding-left: 20px;
  }
  